@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.banner {
  display: block;
  padding: 5px;
  margin: 0;
  width: 100vw;
  height: 80vh;
  position: relative;
}

.bannerText {
  font-family: 'Kanit', 'Cordia New', sans-serif;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 20;
  text-align: center;
  background: rgba(255, 255, 255, .8);
  width: 30%;
  font-size: 26px;
  color: rgb(34, 12, 162);
}

.bannerText > h3 {
  color: black;
  /* color: rgb(57, 205, 228); */
}