@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

div.card {
  width: 250px;
  height: 350px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  padding-top: 10px;
}

div.cardimg {
  width: 100%;
  height: 45%;
  position: relative;
}

div.cardtext {
  font-family: 'Sarabun', 'Cordia New', sans-serif;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
}

div.cardtextheading {
  font-family: 'Sarabun', 'Cordia New', sans-serif;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  font-weight: bold;
  color: #0092e6;
}